@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  font-family: 'Acme', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cargando {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/carga.gif") 50% 50% no-repeat #f9f9f9;
}

.oculto {
  display: none;
}

.invisible {
  visibility: hidden;
}

body {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cabecera {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.cabecera-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cabecera-menu img {
  cursor: pointer;
}

.juego {
  padding: 15px 0 80px 0;
}

.juego-temporizador {
  display: none;
  font-size: 2em;
}

.juego-tematica {
  font-size: 2em;
}

.juego-ahorcado {
  width: 50%;
  max-width: 250px;
}

.juego-palabra {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.juego-palabra .borde-inferior {
  border-bottom: 2px solid black;
  margin: 5px;
  width: 40px;
  height: 40px;
}

.juego-teclado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px auto;
  width: 60%;
  max-width: 700px;
  min-width: 400px;
}

.juego-teclado .letra {
  cursor: pointer;
  position: relative;
  border: 1px solid #999;
  height: 45px;
  width: 45px;
  font-size: 2em;
  background-color: white;
}

.juego-teclado .letra:hover {
  background-color: #e9e9e9;
}

.juego-teclado .letra .pulsada {
  position: absolute;
  left: 0px;
  width: 45px;
}

.juego-datos {
  width: 250px;
  margin: 0 auto;
  font-size: 2em;
}

.juego-datos-nombre {
  padding: 5px;
  background-color: #4B72A6;
  color: white;
  border-radius: 10px 10px 0 0;
}

.juego-datos-partidas {
  padding: 5px;
  border: 4px solid #4B72A6;
  background-color: white;
  border-radius: 0 0 10px 10px;
  font-size: 0.75em;
}

.pie {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
}

.modal-inicio {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.modal-inicio-imagenes {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 50px;
}

.modal-inicio-imagen {
  max-width: 350px;
  margin: 15px 0;
}

.modal-inicio-formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  width: 400px;
  font-size: 2em;
}

.modal-inicio-formulario input {
  margin: 15px 0;
  width: 250px;
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid #4B72A6;
}

.modal-inicio-formulario-alerta {
  background-color: #C2E5F2;
  padding: 10px 20px;
  font-size: 0.75em;
  border: 3px solid black;
  border-radius: 10px;
}

.modal-inicio-jugar {
  cursor: pointer;
  margin: 30px;
}

.modal-fin {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.modal-fin-imagenes {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 50px;
}

.modal-fin-imagen {
  width: 500px;
}

.modal-fin img {
  display: block;
  margin: 0px auto;
}

.modal-puntuacion {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-puntuacion:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-puntuacion-marcador {
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 50%;
  background-color: white;
  border-radius: 15px;
  border: 5px solid #4B72A6;
  width: 400px;
  height: 400px;
}

.modal-puntuacion-marcador .marcador-salir {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-puntuacion-marcador .marcador-titulo {
  padding: 30px 0;
  font-size: 2em;
}

.modal-puntuacion-marcador .marcador-titulos {
  width: 80%;
  color: #4B72A6;
  padding: 0 20px;
  margin: 0px auto;
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-puntuacion-marcador .marcador-titulos p {
  padding: 5px 0;
}

.modal-puntuacion-marcador .marcador-listado {
  width: 80%;
  padding: 20px;
  margin: 0px auto;
  font-size: 1.4em;
}

.modal-puntuacion-marcador .marcador-listado-fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-puntuacion-marcador .marcador-listado-fila p {
  padding: 5px 0;
}

@media (max-width: 480px) {
  .modal-inicio-imagen {
    width: 70%;
  }
  .modal-fin-imagen {
    padding: 40px 0;
    width: 90%;
  }
}
